<h1>Formações</h1>

<table>
  <tr>
    <th>Identificação</th>
  </tr>

<% @courses.each do |course| %>
  <tr>
    <td><%=h course.identifier %></td>
    <td><%= link_to 'Ver Atividades', course %></td>
    <td><%= link_to 'Editar', edit_course_path(course) %></td>
    <td><%= button_to 'Apagar', {:action => 'destroy', :id => course.id}, :method => :delete %></td>
    <td><%= link_to 'Relatório de Frequência', participants_status_course_path(course) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova formação', new_course_path %>

