<script>

  $(document).ready(function(){
    var oTable = $('.list').dataTable({
      "iDisplayLength": -1,
      "bAutoWidth": false,
      "bJQueryUI": true,
      "bSort": true,
      "sDom": '<"H"lTfr>t<"F"ip>',
      "oTableTools": {
         "sSwfPath": "DataTables-1.8.1/media/swf/copy_cvs_xls_pdf.swf"
      },
      "aaSorting": [[1,'asc'], [0,'desc']],
      "aoColumnDefs": [ { "bSortable": false, "aTargets": [ 4, 5, 6] }],
        'oLanguage': {
          'oPaginate': {
            'sFirst': 'primeira',
            'sLast': 'ultima',
            'sNext': 'próxima',
            'sPrevious': 'anterior'
          },
          'sInfo': 'exibindo de _START_ até _END_ do total de _TOTAL_ registros',          
          'sInfoEmpty': "Mostrando de 0 até 0 de 0 registros",
          'sEmptyTable': 'não há registros para exibir',
          'sInfoFiltered': '- filtrando de _MAX_ registros',
          'sInfoPostFix': '',
          'sLengthMenu': 'exibe _MENU_ registros',
          'sProcessing': 'processando',
          'sSearch': 'filtrar',
          'sZeroRecords': 'não há registros para exibir'
        }
    });
  });
</script>

<h1>Formações</h1>
<div class="actions">
  <%= link_to 'Nova formação', new_course_path %>
</div>
<br>
<table class="list">
  <thead>
    <tr>
      <th>Identificação</th>
      <th>Código de referência</th>
      <th>Total de horas</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
    <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%=h course.identifier %></td>
        <td><%=h course.reference_code %></td>
        <td><%=h course.total_hours %></td>
        <% if [32, 3, 1, 2, 15, 17, 16, 11, 22].include?(course.id) %>
          <td style="padding-left: 10px;"><%= link_to 'Dados dos certificados', course_certificates_path(:course_id => course.id) %></td>
        <%else%>
          <td></td>
        <%end%>
        <td style="padding-left: 10px;"><%= link_to 'Ver Atividades', course %></td>
        <td style="padding-left: 10px;"><%= link_to 'Participantes', participants_path(:id => course.id) %></td>
        <td style="padding-left: 10px;"><%= link_to 'Editar', edit_course_path(course) %></td>
        <td style="padding-left: 10px;"><%= button_to 'Apagar', {:action => 'destroy', :id => course.id}, :method => :delete %></td>
      </tr>
    <% end %>
  <tbody>
</table>

<br />



