<div id="participant_list">
  <% if @activities.count == 0%>
    O curso não possui atividades.
  <% else %>
    <% i = 0 %>
    <% @activities.each do |a| %>
      <% i += 1 %>
      <div class="participants_list">
        <ul class="activity_participants">
          <div style="padding: 10px 0; width: 200px;">
            <b><%= "#{a.name} - #{i}" %></b>
            <%= text_field_tag "formation_#{a.id}", nil, :value => a.formation, :class => "formation_field" %>
            <br>
            <%= "<b>Data:</b> #{a.date.try(:strftime, '%d/%m/%Y')}".html_safe %>
            <br>
            <%= "<b>Horário início:</b> #{a.start_time.try(:strftime, '%H:%M')}".html_safe %>
            <br>
            <%= "<b>Horário término:</b> #{a.end_time.try(:strftime, '%H:%M')}".html_safe %>
            <br>
            <%= "<b>Local:</b> #{a.place}".html_safe %>
            <br>
            <%= "<b>Educador:</b> #{a.leader}".html_safe %>
            <script>
              $(document).ready(function() {

                $('#<%="formation_#{a.id}"%>').change(function(){
                  $.ajax({url: "/update_formation/<%=a.id%>",
                    data: 'formation=' + $('#<%="formation_#{a.id}"%>').val()
                  })
                });
              });
            </script>
          </div>

          <% a.participants.all(:order => 'name ASC').each do |p| %>
            <li>
              <%= p.name %>
              <%= text_field_tag "list_#{p.id}", nil, :value => p.activities_numbers(@activities_numbers), :class => "participant_list_field" %>
            </li>
            <script>
              $(document).ready(function() {

                $('#<%="list_#{p.id}"%>').change(function(){
                  $.ajax({url: "/update_list/<%=p.id%>",
                    data: 'list=' + $('#<%="list_#{p.id}"%>').val()
                  })
                });
              });
            </script>
          <% end %>
        </ul>
      </div>
    <% end %>  
  <% end %>
</div>