<h2><%=h @course.identifier %><span style="font-size: 10px;"><%= link_to 'Editar', edit_course_path(@course) %></span></h2>
<%= render :partial => "activities/list", :locals => { :activities => @course.activities } %>
<%= link_to 'Nova Lista de Presença', new_course_activity_path(@course) %> |
<%= link_to 'Voltar', courses_path %>
