<h2><%= "#{@course.identifier} <i>#{@course.reference_code}</i> ".html_safe %>
  <span style="font-size: 10px;"><%= link_to 'Editar', edit_course_path(@course) %></span>
</h2>
<%= link_to 'Voltar', courses_path, :class => "back_link" %>
<div class="actions">
  <%= link_to 'Nova Lista de Presença', new_course_activity_path(@course) %>
  <%= link_to 'Exportar', "#{request.url}.csv" %>
</div>
</br>
<%= render :partial => "activities/list", :locals => { :activities => @course.activities } %>

