<%= render :partial => "search_bar", :locals => {:participants => @participants} %>

<% @certificates.each do |c|%>
  <div>
    <%= c.course.identifier %>
    <%= c.course.description %>
    <%= c.period %>
    <%= c.total_hours %>
    <%= c.frequency %>
  </div>
  <div>
    <p>Os dados estão corretos?</p>
    <%= check_box_tag "certificicate_correct_#{c.id}" %> Sim
    <%= check_box_tag "certificicate_incorrect_#{c.id}" %> Não
  </div>

  <div id="email_with_certificate_<%= c.id %>" style="display:none">
    Informe o seu e-mail para receber o certificado:
    <% form_tag certificate_send_email_path do %>
     <%= text_field_tag :email, '', :size => 20 %>
     <%= hidden_field_tag :certificate_id, c.id %>
     <%= hidden_field_tag :participant_id, @participant.id %>
     <%= hidden_field_tag :to_support, false %>
     <%= submit_tag t('send'), :disable_with => t('please_wait')%>
    <% end %>
  </div>

  <div id="email_to_support_<%= c.id %>" style="display:none">
    Informe o seu e-mail para que possamos entrar em contato a respeito da correção do certificado:
    <% form_tag certificate_send_email_path do %>
     <%= text_field_tag :email, '', :size => 20 %>
     <%= hidden_field_tag :certificate_id, c.id %>
     <%= hidden_field_tag :participant_id, @participant.id %>
     <%= hidden_field_tag :to_support, true %>
     <%= submit_tag t('send'), :disable_with => t('please_wait')%>
    <% end %>
  </div>

  <script>
    $('#certificicate_correct_<%= c.id %>').change(function() {
      checked = $('#certificicate_correct_<%= c.id %>').is(':checked');
      if (checked == true) {
        $('#certificicate_incorrect_<%= c.id %>').attr('checked', false);
        $("#email_to_support_<%= c.id %>").hide();
        $("#email_with_certificate_<%= c.id %>").show();
      }
      else{
        $("#email_with_certificate_<%= c.id %>").hide();
      }
    });

    $('#certificicate_incorrect_<%= c.id %>').change(function() {
      checked = $('#certificicate_incorrect_<%= c.id %>').is(':checked');
      if (checked == true) {
        $('#certificicate_correct_<%= c.id %>').attr('checked', false);
        $("#email_to_support_<%= c.id %>").show();
        $("#email_with_certificate_<%= c.id %>").hide();
      }
      else{
        $("#email_to_support_<%= c.id %>").hide();
      }
    });
  </script>


<% end%>

