<!DOCTYPE html>
<html>
<head>
  <title>Quem Foi?</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery/jquery-1.4.2.min.js' %>
  <%= javascript_include_tag 'jquery/jquery.autocomplete.js' %>
  <%= javascript_include_tag 'jquery-rails.js' %>
  <%= csrf_meta_tag %>
</head>
<body>

<p style="color: green"><%= notice %></p>
<p class="alert"><%= flash[:alert] %></p>

<%= yield %>

</body>
</html>

